<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ site.title }}</title>
<link rel="stylesheet" href="{{ "/css/style.css" | relative_url }}">
<script
			  src="https://code.jquery.com/jquery-3.7.1.min.js"
			  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
			  crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"
  integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<!-- first include tsParticles engine -->
<script src="https://cdn.jsdelivr.net/npm/tsparticles-engine"></script>

<!-- first include any tsParticles plugin needed -->
<script src="https://cdn.jsdelivr.net/npm/tsparticles/tsparticles.bundle.min.js"></script>

<!-- then include jquery wrapper -->
<script src="https://cdn.jsdelivr.net/npm/@tsparticles/jquery"></script>

<body class="{{ page.title | slugify }}">

<header id="banner" role="banner">
    <h1><a href="{{ "/" | relative_url }}"><span class="bracket" aria-hidden="true">{</span><span id="title">{{ site.title }}</span><span class="bracket" aria-hidden="true">}</span></a></h1>
    <nav id="global_navigation">
      {% for item in site.lesson_navigation %}
      {% assign link = site.pages | where_exp: "page", "page.url contains item" | first %}
      <a class="{{ item }}{% if page.url == link.url %} current{% endif %}" href="{{ link.url | relative_url }}">{{ link.title }}</a>
      {% endfor %}
      {% for item in site.complementary_navigation %}
      {% assign link = site.pages | where_exp: "page", "page.url contains item" | first %}
      <a class="{{ item }}{% if page.url == link.url %} current{% endif %}" href="{{ link.url | relative_url }}">{{ link.title }}</a>
      {% endfor %}
    </nav>
</header>
<main>
    {{ content }}
</main>
<script src="{{ "/js/scripts.js" | relative_url }}"></script>
</body>
</html>